@page

@model Ozone.UI.Pages.Units.IndexModel

@{
    ViewData["Title"] = "Index";
}
@*"{handler?}"*@
<div style="height: 160vh">

    <div class="row">

        <div class="col-md-12">
            <h1>Units List</h1>

            <br />
            <table id="dtUnits" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Name
                        </th>
                        <th class="th-sm">
                            Responsible Name
                        </th>
                        <th class="th-sm">
                            Mobile
                        </th>
                        <th class="th-sm">
                            Category
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.unitsList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnglishName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ResponsibleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu dropdown-secondary">
                                        <input type="button" onclick="openDetails(@item.Id)" value="Details" class="dropdown-item" data-toggle="modal" data-target="#modalDetails" />
                                        @*<a asp-page-handler="UpdateUnitDataModel" asp-route-id="@item.Id" onclick="sendUnitId(@item.Id)" class="dropdown-item" data-toggle="modal" data-target="#modalUpdateUnit" >Edit</a>*@

                                        <a id="editUnit" onclick="openEditPartial(@item.Id)" class="dropdown-item">Edit</a>

                                        @*<a onclick="sendUnitId(@item.Id)" class="dropdown-item" data-toggle="modal" data-target="#modalUpdateUnit">Edit</a>*@

                                        <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                        <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit 2</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-md-2 offset-sm-0">
                <a href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#createUnitModal">Create UnitModel</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createUnitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" onshow="unitDetails()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create new unit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form method="post" id="createUnitForm" class="text-center border border-light p-5 needs-validation" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="unitDataModel.ArabicName" class="form-control" placeholder="Arabic Name" required />
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <input asp-for="unitDataModel.EnglishName" class="form-control" placeholder="English Name" required />
                        </div>
                        <div class="col">
                            <input asp-for="unitDataModel.NameAbbreviation" class="form-control" placeholder="Name Abbreviation" />
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <input asp-for="unitDataModel.ResponsibleName" class="form-control" placeholder="Responsible Name" required />
                        </div>
                        <div class="col">
                            <input asp-for="unitDataModel.PersonToCantact" class="form-control" placeholder="Contact Person" />
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="unitCategoryId" asp-items="@(new SelectList(Model.unitCategories, "Id", "CategoryName"))" class="validate md-form mdb-select" searchable="Search here..">
                            <option value="" disabled selected>Choose unit category</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="unitDataModel.Description" class="form-control" placeholder="Description" required></textarea>
                    </div>
                    <div class="md-form pb-3">
                        <input type="search" asp-for="unitDataModel.Location" class="form-control mdb-autocomplete location-autocomplete" placeholder="Location" required />
                        <button class="mdb-autocomplete-clear">
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                <path d="M0 0h24v24H0z" fill="none" />
                            </svg>
                        </button>
                    </div>
                    <div class="form-group">
                        <input type="email" asp-for="unitDataModel.Email" class="form-control" placeholder="E-mail" required />
                    </div>
                    <div class="form-group">
                        <input asp-for="unitDataModel.Telephone" class="form-control" placeholder="Phone Number" />
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <input asp-for="unitDataModel.InternalTel_1" class="form-control" placeholder="Internal Phone 1" />
                        </div>
                        <div class="col">
                            <input asp-for="unitDataModel.InternalTel_2" class="form-control" placeholder="Internal Phone 2" />
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <input asp-for="unitDataModel.Mobile" class="form-control" placeholder="Mobile" />
                        </div>
                        <div class="col">
                            <input asp-for="unitDataModel.Fax" class="form-control" placeholder="Fax" />
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="parentId" asp-items="@(new SelectList(Model.unitsList, "Id", "EnglishName"))" class="validate mdb-select md-form" searchable="Search here..">
                            <option value="" disabled selected>Choose unit parent</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-deep-purple btn-block" id="btnCreateUnit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalUpdateUnit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" onshow="unitUpdate()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Update unit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3" id="editPartial">

            </div>
        </div>
    </div>
</div>



<!-- Modal: modalDetails -->

<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @await Html.PartialAsync("./UnitsPartials/_Details.cshtml", Model.unitDataModel)
</div>
<!-- Modal: modalCart -->
@section Scripts {
   
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

