@page
@model Ozone.UI.Areas.Trainings.Pages.Trainings.EditModel

<div class="row form-group" style="margin-top:50px">
    <div class="col-md-8 offset-md-2">
        <h3 class="page-header">
            <i class="fa fa-edit"></i>
            Edit Training
        </h3>
        <hr />
    </div>

</div>

<div class="row formgroup">
    <div class="col-md-6 offset-md-3">
        <form id="edittraining" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-warning" })
            <input asp-for="Input.TrainingId" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row form-group">
                <label asp-for="Input.CourseId" class="font-weight-normal">Course Name</label>
                <select asp-for="Input.CourseId" asp-items="@Model.Input.Courses" class="form-control">
                    <option selected disabled>Select Course</option>
                </select>
                <span asp-validation-for="Input.CourseId" class="text-danger text-uppercase small"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Input.StartDate" class="font-weight-normal">Training Start Date</label>
                <input asp-for="Input.StartDate" type='text' class='form-control datepicker' placeholder="Start Date" style="padding-left:10px" value="@Model.Input.StartDate.ToString("dd/MM/yyyy")" />
                <span asp-validation-for="Input.StartDate" class="text-danger text-uppercase small"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Input.EndDate" class="font-weight-normal">Training End Date</label>
                <input asp-for="Input.EndDate" type='text' class='form-control datepicker' placeholder="End Date" style="padding-left:10px" value="@Model.Input.EndDate.ToString("dd/MM/yyyy")" />
                <span asp-validation-for="Input.EndDate" class="text-danger text-uppercase small"></span>
            </div>
            <div class="row form-group">
                <button type="submit" id="Submit" class="btn btn-secondary float-right">
                    Save
                </button>
            </div>
        </form>
    </div>

</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
        });
    </script>
}
