@page
@model Ozone.UI.Areas.Trainings.Pages.Trainers.DetailsModel


<div class="row form-group" style="margin-top:50px">
    <div class="col-md-12">
        <h3 class="page-header">
            <i class="fa fa-sign-in"></i>
            Trainee Details
        </h3>
        <hr />
    </div>
</div>

<div class="row form-group">
    <div class="col-md-8 offset-md-2">
        <div class="row">
            <div class="col-md-3">
                <p>Trainee Name: </p>
            </div>
            <div class="col-md-9">
                @Model.Input.FullName
            </div>            
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Email: </p>
            </div>
            <div class="col-md-9">
                @Model.Input.Email
            </div>            
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Phone Home: </p>
            </div>
            <div class="col-md-9">
                @Model.Input.PhoneHome
            </div>            
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Cell Number: </p>
            </div>
            <div class="col-md-9">
                @Model.Input.PhoneMobile
            </div>            
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Address 1: </p>
            </div>
            <div class="col-md-9">
                @Model.Input.Address1
            </div>            
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Address 2: </p>
            </div>
            <div class="col-md-9">
                @Model.Input.Address2
            </div>            
        </div>
    </div>

</div>
